body{
	font-family: 'VT323';
}

#presentacion{
	background-color: #6fd8e0;
	margin: 0 auto;
	font-family: 'VT323';
	font-size: 40px;
	position: relative;
	text-align: center;
	width: 90%;
	top: 30px;
	border: solid #6fd8e0;
	-webkit-border-radius: 15px 15px  0px 0px;
  	-moz-border-radius: 15px 0px 0px 20px; 
}

#perritos{
	position: relative;
	width: 80%;
	top: 130px;
}


#logo{
	background-color: white;
	height: 100px;
	width: 200px;
}

#body{
	-webkit-border-radius: 0px 0px  15px 15px;
  	-moz-border-radius: 0px 0px 15px 15px; 	
}

#tituloSeccion{
        margin: 0 auto;
	width: 200px;
	height: 40px;
	color: white;
	position: relative;
	left: 20px;
	top: 50px;
	text-align: left;
	font-size: 30px;
}

#body {
	margin: 0 auto;
	//background-color: #fdf8f5;
	height: 450px;
	width: 90%;
	border: solid #6fd8e0;
	text-align: center;
}


#lienzo{
	margin-top: 100px;
	position: relative;
	left: 10%;
	width: 338px;
	height: 200px;
}

#item{
        position: relative;
	left: 15%;
	top: -70px;
	width: 500px;
	height: 200px;
	background-color: pink;
        display: none;
}

#accesorio{
	position: relative;
	top: 25px;
	width: 80px;
}

#indicadores{
        text-align: left;
	background-color: orange;
	position: absolute;
	margin-top: 10px;
        margin-left: 10px;
	width: 338px;
	height: 80px;
}

.indicador{
	margin-top: 10px;
	height: 50px;
	width: 30px;
        margin-left: 10px;
        background-color:  transparent;
}

#comer, #dormir, #sentarse{
	background-color: blue;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	margin-top: 5px;
	letter-spacing: 3px;
	color: white;
}

.boton label{
	position: relative;
	top: 10px;
}

#comer, #dormir, #sentarse:hover{
	cursor: pointer;
}

#nombreMascota{
    margin: 0 auto;
    position: relative;
    background-color: #0089ec;
    width: 338px;
    height: 40px;
}

.mensaje{
	position: relative;
	top: 10px;
	margin-left: 5px;
	font-size: 20px;
}

#comida{
    background-color: #FF9500;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    position: relative;;
    left: 67%;
    top: -210px;
}

#diversion{
    background-color: Red;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    position: relative;;
    left: 67%;
    top: -200px;
}

#diversion label:hover{
    cursor: pointer;
}


#higiene{
    margin-top: 5px;
    background-color: green;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    position: relative;;
    left: 67%;
    top: -200px;
}

#sueno{
    margin-top: 5px;
    background-color: purple;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    position: relative;;
    left: 67%;
    top: -200px;
}

#regresar{
    background-color: blue;
    position: absolute;
    left: -20px;
    height: 40px;
}