#icono {
     
        margin-left:-100px;
        margin-top: px;
        margin: 0;
        padding: 0;
        height: 50px;
    
}

.navbar-default li:hover::after {
    content: ' ';
    position: absolute;
    border: solid 10px transparent;
    border-top: solid 0px transparent;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    border-color: #222 transparent transparent transparent;
}